 body {
  
  margin: 0;
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  
}

div{
				margin-top: 10%;
}

ul{
  list-style-type:none;
  text-align: justify;

}

#title{
  color: #91ede2;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Calligraffitti', cursive;
}

.name{
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: 'Charm', cursive;
} 